<h3>Dashboard</h3>
<p>Welcome <%= current_user.name %></p>
<p>Balance: <div id="balance"><%= current_user.account.balance %></div></p>


<form name="ajaxform" id="ajaxform" action="api/transfers" method="POST">
    from: <input type="text" name="transfer[from_account_id]" value ="<%= current_user.account.id %>"/> <br/>
    value: <input type="text" name="transfer[value]" value ="10" /> <br/>
    to user: <input type="text" name="transfer[to_user]" value=""/> <br/>
     <button id="target" type="button">Send</button>
</form>

